.highways {
    mat-grid-tile {
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .roadworks-table {
        padding: 25px;
        width: 100%;

        .empty-column {
            margin: 20px 0;
            text-align: center;
            color: red;
            font-size: 30px;
            font-weight: 400;

            .empty-text {
                padding: 10%;
            }
        }
    }
    
    .highways-list-container {
        .mat-grid-tile-content {
            align-items: flex-start!important;
        }

        .highways-list {
            width: 100%;
    
            .highways-list-devider {
                margin-left: 0!important;
            }
        }
    }
}

:host ::ng-deep {
    .mat-grid-tile-content {
        align-items: flex-start;
        overflow-y: auto;
    }

    .roadworks-list-container .highways-list-container .mat-grid-tile-content {
        padding: 25px;
    }
}
